<form action="">
    <input type="text" placeholder="Digite o produto">

    <select id="categoria">
        <option selected disabled>Selecione uma categoria</option>
        <option>Monitores</option>
        <option>Teclados</option>
        <option>CPU</option>
    </select>

    <input type="text" placeholder="Digite o código produto">
    <input type="number" placeholder="Digite a quantidade">
    <input type="text" placeholder="Digite o valor unitário">

    <select id="cliente">
        <option selected disabled>Selecione um cliente</option>
        <option>Google</option>
        <option>Amazon</option>
        <option>Kabuum</option>
    </select>

    <select id="vendedores">
        <option selected disabled>Selecione um vendedor</option>
        <option>Gustavo</option>
        <option>Henrique</option>
        <option>Paula</option>
    </select>

    <input type="date" placeholder="Digite a data da compra">

    <input type="text" disabled placeholder="Valor total da compra">


</form>
