<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Home</title>
    <link type="image/png" sizes="32x32" rel="icon" href="/img/icons8-painel-de-instrumentos-cute-color-32.png">
    <link rel="stylesheet" href="/src/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js" integrity="sha512-emSwuKiMyYedRwflbZB2ghzX8Cw8fmNVgZ6yQNNXXagFzFOaQmbvQ1vmDkddHjm5AITcBIZfC7k4ShQSjgPAmQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body id="home">

    <aside>
        Interact Dashboard
    </aside>

    <section id="cadastrar-venda">

        <h3>Cadastrar uma venda</h3>
        <form action="">
            <input type="text" placeholder="Digite o produto">

            <select id="categoria">
                <option selected disabled>Selecione uma categoria</option>
                <option>Monitores</option>
                <option>Teclados</option>
                <option>CPU</option>
            </select>

            <input type="text" placeholder="Digite o código produto">
            <input type="number" placeholder="Digite a quantidade">
            <input type="text" placeholder="Digite o valor unitário">

            <select id="cliente">
                <option selected disabled>Selecione um cliente</option>
                <option>Google</option>
                <option>Amazon</option>
                <option>Kabuum</option>
            </select>

            <select id="vendedores">
                <option selected disabled>Selecione um vendedor</option>
                <option>Gustavo</option>
                <option>Henrique</option>
                <option>Paula</option>
            </select>

            <input type="date" placeholder="Digite a data da compra">

            <input type="text" disabled placeholder="Valor total da compra">


        </form>

    </section>
    
    <script src="./src/index.js" type="module" ></script>

</body>
</html>